<table class="table table-bordered table-striped table-hover table-sm">

  <thead>
    <tr class="table-dark">
        <th>ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>Display odd salaries</tr>
   
  </tbody>

</table>
<div><h2>salaries:[{{salary}}]</h2></div>

<div *ngFor="let sal of salary; let i=index; let od=odd; let ev =even; let fs = first">
  <div *ngIf="od">{{sal}}</div>
 
</div>

<div>Display even salaries</div>
<div *ngFor="let sal of salary; let i=index; let od=odd; let ev =even; let fs = first">
<div *ngIf="ev">{{sal}}</div>
</div>


<div>Display first salary</div>
<div *ngFor="let sal of salary; let i=index; let od=odd; let ev =even; let fs = first">
<div *ngIf="fs">{{sal}}</div>
</div>

<div>Display last salary</div>
<div *ngFor="let sal of salary; let i=index; let od=odd; let ev =even; let fs = first; let ls = last">
<div *ngIf="ls">{{sal}}</div>
</div>